* {
    margin: 0;
    padding: 0;
}

:root {
    --background-section: #F9429E;
    --background-master: white;
    --background-footer: black;
}


body {

    width: 90%;
    margin: auto;


    @media (min-width: 768px) and (max-width: 1024px) {
        width: 90%;
    }

    @media (min-width: 1024px) {
        width: 95%;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 768px) and (max-width: 1024px) {
        flex-direction: inherit;
        align-items: center;


    }
}

header .logo {
    width: 40%;
    margin: auto;

    @media (min-width: 768px) and (max-width: 1024px) {
        width: 25%;
        margin-left: 0;
    }

    @media (min-width: 1024px) {
        width: 20%;
    }

}

header ul {

    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;


    @media (min-width: 768px) and (max-width: 1024px) {

        margin: 0;
        width: 100%;
    }
}

header li {

    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;


    @media (min-width: 768px) and (max-width: 1024px) {
        margin-right: 3rem;
        font-size: 0.94em;
    }

    @media (min-width: 1024px) {
        width: 20%;
        font-size: 1.5rem;

    }
}

#buttun {

    margin: auto;

    @media (min-width: 768px) and (max-width: 1024px) {
        margin: 0;
    }

}

label {
    display: block;
    font:
        1rem "Fira Sans",
        sans-serif;
    display: none;
}

input,
label {
    margin: 0.4rem 0;
}



main .description-block {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 2rem 0;
}

main>.description-block h1,
p {
    text-align: center;
    margin: 1.5rem 0 1rem 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;

}

main>.description-block h1 {
    font-size: 1.9em;
}

main>.description-block p {
    text-align: justify;
    font-size: 1.1em;
}

section>.face {
    width: 100%;
    margin: auto;
}

section {
    @media (min-width: 768px) and (max-width: 1024px) {
        margin-bottom: 2%;
    }

    @media (min-width: 1024px) {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

main section .picture-block {


    @media (min-width: 1024px) {}

}

section>.picture1,
.picture2,
.picture7,
.picture8 {
    width: 24rem;
    padding-bottom: 1rem;
    margin-left: 1.rem;

    @media (min-width: 768px) and (max-width: 1024px) {

        width: 22rem;
        margin-right: 0.47rem;
    }

    @media (min-width: 1024px) {
        width: 20rem;
        height: 10rem;


    }
}

section>.picture3,
.picture4,
.picture5,
.picture6 {
    display: none;

    @media (min-width: 1024px) {

        display: inline-block;
        width: 15rem;

        height: 10rem;

    }
}



footer {


    footer p {
        text-align: center;

    }

    footer .form {
        display: flex;
        justify-content: center;
    }

    footer .action {
        text-align: left;
    }

    form.form-example {
        display: table;

    }

    div.form-example {
        display: table-row;

    }

    label,
    input {
        display: table-cell;

    }

    label,
    input {
        display: table-cell;


    }

    label {
        padding-right: 10px;
    }
}